

body {   text-align:Center;
			background-color: lightblue;
            
}


h1 { 
color:purple;
background-color:grey;
font-family: verdana;
}

h2 {
	color:purple;
background-color:grey;
font-family: verdana;
}


p { padding: 10px;
	 margin: 30px;
	}
img {height: 300px;
}

.purple {
	color: purple;
	border: 1px purple;
	
	